
#u9917 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9918 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9919 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.2;
}
#u9919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9921 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:58px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9922 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:57px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E95FF;
  text-align:left;
  line-height:14px;
}
#u9923 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:35px;
  height:19px;
  display:flex;
  opacity:0.99;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E95FF;
  text-align:left;
  line-height:14px;
}
#u9923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9924 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:33px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9833_state7 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u9833_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9926 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:9px;
  width:8px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.200000002980232;
}
#u9926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9927 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:9px;
  width:8px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.200000002980232;
}
#u9927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9928 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:9px;
  width:8px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.200000002980232;
}
#u9928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:8px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.99;
}
#u9929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9930 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9931 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9932 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9933 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9934 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:58px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9935 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:57px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9936 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:35px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9936 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E95FF;
  text-align:left;
  line-height:14px;
}
#u9937 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:33px;
  height:19px;
  display:flex;
  opacity:0.99;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E95FF;
  text-align:left;
  line-height:14px;
}
#u9937 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9833_state8 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u9833_state8_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9939 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:9px;
  width:8px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.200000002980232;
}
#u9939 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9940 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:9px;
  width:8px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.200000002980232;
}
#u9940 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9941 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:9px;
  width:8px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.200000002980232;
}
#u9941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:8px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.2;
}
#u9942 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9943 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9943 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9944 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9944 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9945 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.200000002980232;
}
#u9945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:3px;
}
#u9946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:8px;
  height:3px;
  display:flex;
  opacity:0.99;
}
#u9946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9947 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:58px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9948 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:57px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9949 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:35px;
  height:19px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E95FF;
  text-align:left;
  line-height:14px;
}
#u9950 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:33px;
  height:19px;
  display:flex;
  opacity:0.99;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E95FF;
  text-align:left;
  line-height:14px;
}
#u9950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9951 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-4px;
  width:43px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9952 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:43px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9953 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-4px;
  width:71px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9954 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-4px;
  width:71px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9956 {
  position:absolute;
  left:1650px;
  top:70px;
}
#u9956_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:98px;
  height:3px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9956_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:3px;
}
#u9957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:3px;
  display:flex;
}
#u9957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9956_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:225px;
  height:3px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u9956_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:3px;
}
#u9958 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:58px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9959 {
  position:absolute;
  left:1651px;
  top:38px;
}
#u9959_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:224px;
  height:25px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9959_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHeiTC-W8-Proportional W8-Proportional', 'PingFangHeiTC-W8-Proportional', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  display:flex;
  opacity:0.899999976158142;
  font-family:'PingFangHeiTC-W8-Proportional W8-Proportional', 'PingFangHeiTC-W8-Proportional', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9960 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHeiTC-W8-Proportional W8-Proportional', 'PingFangHeiTC-W8-Proportional', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u9961 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:1px;
  width:65px;
  height:24px;
  display:flex;
  opacity:0.300000011920929;
  font-family:'PingFangHeiTC-W8-Proportional W8-Proportional', 'PingFangHeiTC-W8-Proportional', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u9961 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9959_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:224px;
  height:25px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u9959_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHeiTC-W8-Proportional W8-Proportional', 'PingFangHeiTC-W8-Proportional', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  display:flex;
  opacity:0.3;
  font-family:'PingFangHeiTC-W8-Proportional W8-Proportional', 'PingFangHeiTC-W8-Proportional', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u9962 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHeiTC-W8-Proportional W8-Proportional', 'PingFangHeiTC-W8-Proportional', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u9963 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:1px;
  width:65px;
  height:24px;
  display:flex;
  opacity:0.9;
  font-family:'PingFangHeiTC-W8-Proportional W8-Proportional', 'PingFangHeiTC-W8-Proportional', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u9963 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9964 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:39px;
  width:98px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9965 {
  border-width:0px;
  position:absolute;
  left:1822px;
  top:39px;
  width:53px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9967 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:536px;
  width:60px;
  height:24px;
  display:flex;
  opacity:0.9;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9967 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9968_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:33px;
  height:29px;
}
#u9968 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:536px;
  width:23px;
  height:19px;
  display:flex;
  opacity:0.9;
  font-size:14px;
}
#u9968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9969_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:71px;
  height:34px;
}
#u9969 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:534px;
  width:61px;
  height:24px;
  display:flex;
  opacity:0.899999976158142;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9969 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9971_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:21px;
  height:30px;
}
#u9971 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:574px;
  width:11px;
  height:20px;
  display:flex;
  opacity:0.9;
  font-size:14px;
}
#u9971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9972_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:66px;
  height:34px;
}
#u9972 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:580px;
  width:56px;
  height:24px;
  display:flex;
  opacity:0.899999976158142;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9972 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9973 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:574px;
  width:60px;
  height:24px;
  display:flex;
  opacity:0.9;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9973 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9975_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:33px;
  height:33px;
}
#u9975 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:614px;
  width:23px;
  height:23px;
  display:flex;
  opacity:0.9;
}
#u9975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9976_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:66px;
  height:27px;
}
#u9976 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:618px;
  width:56px;
  height:17px;
  display:flex;
  opacity:0.899999976158142;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9976 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9977 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:614px;
  width:67px;
  height:24px;
  display:flex;
  opacity:0.9;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9977 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9978 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:945px;
  width:78px;
  height:27px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC Regular', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9979 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:945px;
  width:52px;
  height:28px;
  display:flex;
  opacity:0.5;
  font-family:'PingFang SC Bold', 'PingFang SC Regular', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u9979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
